<ng-container *ngIf="bioResponse">
  <div class="container mw-100">
    <div class="row">
      <div class="col-md-auto text-center">
        <img [src]="bioResponse.person.picture" alt="" class="img-resize">
        <p>{{bioResponse.person.name}}</p>
      </div>
      <div class="col">
        <ng-container *ngIf="masterSkillsExists">
          <p class="proficiency"><i class="bi bi-reception-4"></i> Master</p>
          <ng-container *ngFor="let skill of bioResponse.strengths">
            <div (click)="navigateToDetails()" class="col bullet" *ngIf="skill.proficiency === 'master'" ngbPopover="{{skill.recommendationsMessage}}"
              triggers="mouseenter:mouseleave" popoverTitle="{{firstName}} is skilled in {{skill.name}}" popoverClass="popover-class">
              <p class="skill">
                {{skill.name}}
              </p>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="expertSkillsExists">
          <p class="proficiency"><i class="bi bi-reception-3"></i> Expert</p>
          <ng-container *ngFor="let skill of bioResponse.strengths">
            <div (click)="navigateToDetails()" class="col bullet" *ngIf="skill.proficiency === 'expert'" ngbPopover="{{skill.recommendationsMessage}}"
              triggers="mouseenter:mouseleave" popoverTitle="{{firstName}} is skilled in {{skill.name}}" popoverClass="popover-class">
              <p class="skill">
                {{skill.name}}
              </p>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="proficientSkillsExists">
          <p class="proficiency"><i class="bi bi-reception-2"></i> Proficient</p>
          <ng-container *ngFor="let skill of bioResponse.strengths">
            <div (click)="navigateToDetails()" class="col bullet" *ngIf="skill.proficiency === 'proficient'" ngbPopover="{{skill.recommendationsMessage}}"
              triggers="mouseenter:mouseleave" popoverTitle="{{firstName}} is skilled in {{skill.name}}" popoverClass="popover-class">
              <p class="skill">
                {{skill.name}}
              </p>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="noviceSkillsExists">
          <p class="proficiency"><i class="bi bi-reception-1"></i> Beginner</p>
          <ng-container *ngFor="let skill of bioResponse.strengths">
            <div (click)="navigateToDetails()" class="col bullet" *ngIf="skill.proficiency === 'novice'" ngbPopover="{{skill.recommendationsMessage}}"
              triggers="mouseenter:mouseleave" popoverTitle="{{firstName}} is skilled in {{skill.name}}" popoverClass="popover-class">
              <p class="skill">
                {{skill.name}}
              </p>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="noExpSkillsExists">
          <p class="proficiency"><i class="bi bi-reception-0"></i> No experience, but interested</p>
          <ng-container *ngFor="let skill of bioResponse.strengths">
            <div (click)="navigateToDetails()" class="col bullet" *ngIf="skill.proficiency === 'no-experience-interested'" ngbPopover="{{skill.recommendationsMessage}}"
              triggers="mouseenter:mouseleave" popoverTitle="{{firstName}} is skilled in {{skill.name}}" popoverClass="popover-class">
              <p class="skill">
                {{skill.name}}
              </p>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="unknownSkillsExists">
          <p class="proficiency"><i class="bi bi-bell-slash"></i> Unknown</p>
          <ng-container *ngFor="let skill of bioResponse.strengths">
            <div (click)="navigateToDetails()" class="col bullet" *ngIf="skill.proficiency === 'unknown'" ngbPopover="{{skill.recommendationsMessage}}"
              triggers="mouseenter:mouseleave" popoverTitle="{{firstName}} is skilled in {{skill.name}}" popoverClass="popover-class">
              <p class="skill">
                {{skill.name}}
              </p>
            </div>
          </ng-container>
        </ng-container>

      </div>

    </div>
  </div>
</ng-container>